## install with pip
pypdf
argparse
langchain
chromadb # Vector storage
pytest
boto3
unstructuctured[all-docs]
langchain-unstructuctured[local]
langgraph
langsmith
fitz
nltk
langchain-mistralai #optional for using cloud function

## install with python -m
nltk.downloader all
