## install system packages
# apt install cmake poppler-utils build-essential tesseract-ocr libtesseract-dev protobuf-compiler libpoppler-cpp-dev

## install with pip
argparse
backoff
tqdm
psutil
natsort

pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pikepdf==9.5.2
pillow==11.1.0
PyMuPDF==1.25.5
pypdf==5.4.0
chromadb # Vector storage
numpy==1.26.4
pytest
boto3
opencv_python
six==1.17.0

torch
torchvision
torchaudio

unstructured[all-docs]==0.15.14
unstructured-client==0.31.3
unstructured-inference==0.7.36
unstructured-ingest==0.7.2
unstructured.pytesseract==0.3.15
langchain==0.3.25
langchain-chroma
langchain-community==0.3.20
langchain-ollama
langchain-unstructured[local]==0.1.6
langchain-mistralai #optional for using cloud function
langgraph
langsmith
mistralai

fitz
tesseract
onnx
onnxruntime
onnxruntime-gpu # needed for gpu function of unstructured
#tensorrt # needed for onnxruntime-gpu
nltk

## install with python -m
# nltk.downloader all

# python-poppler==0.4.1 (not needed on python 3.12)
# yolox (installed by unstructured)
